.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  .center_area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    /* min-width: 1000px; */
    /* padding: 20px; */
    /* border-radius: 10px; */
    width: 100%;
  }
  .left{
    /* min-width: 500px; */
    width: 100%;
    height: 40%;
  }
  .right{
    background-color:darksalmon;
    /* min-width: 500px; */
    height: 40%;
   
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* margin-top:50px; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.center_area{
  display: flex;
  justify-content: center;
  min-height: 500px;
  min-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  /* width: 100%; */
  text-align: center;
  border-color: black;
}
.left{
  min-width: 500px;
  /* width: 100%; */
}
.right{
  background-color:darksalmon;
  opacity: 0.8;
  min-width: 500px;
 
}